<script type="text/javascript" src="/scripts/textile.js"></script>

<form action="/notes/create" method="post">
  <label>Title:</label>
  <input type="text" name="note[title]" />

  <p>Summary:</p>
  <textarea name="note[summary]"></textarea>

  <%= erb :textile, :layout => false %>
</form>
