<script type="text/javascript" src="/scripts/notes_form.js"></script>

<h2>Edit Note:</h2>
<form id="notes_form" action="/notes/update" method="post">
  <input type="hidden" name="id" value="<%= @note.id %>" />

  <label>Title:</label>
  <input type="text" name="note[title]" value="<%= escape_html @note.title.dump %>"/>

  <p>Summary:</p>
  <textarea name="note[summary]">
    <%= escape_html @note.summary %>
  </textarea>

  <input type="submit" name="submit" value="Submit" />
  <%= erb :textile, :layout => false %>
</form>
