<div id="note">
  <h2><%= escape_html @note.title %></h2>

  <div id="note_summary">
    <%= @note.html_summary %>
  </div>

  <div id="note_comments">
    <% @note.comments.each do |comment| %>
      <div class="comment">
        <%= comment.html_body %>
      </div>
    <% end %>
  </div>

  <form action="/comment/create" method="post">
    <div id="submit_comment">
      <input type="hidden" name="comment[note_id]" value="<%= @note.id %>" />

      <p>Comment:</p>
      <textarea name="comment[body]"></textarea>
    </div>
  </form>
</div>
