<script type="text/javascript" src="/scripts/textile.js"></script>

<form action="/notes/update" method="post">
  <input type="hidden" name="id" value="<%= @note.id %>" />

  <label>Title:</label>
  <input type="text" name="note[title]" value="<%= escape_html @note.title.dump %>"/>

  <p>Summary:</p>
  <textarea name="note[summary]">
    <%= escape_html @note.summary %>
  </textarea>

  <%= erb :textile, :layout => false %>
</form>
