<form action="/notes/create" method="post">
  <label>Title:</label>
  <input type="text" name="note[title]" />

  <p>Summary:</p>
  <textarea name="note[summary]"></textarea>

  <%= erb :syntax, :layout => false %>
</form>
