<script type="text/javascript" src="/scripts/notes_form.js"></script>

<h2>New Note</h2>
<form id="notes_form" action="/notes/create" method="post">
  <label>Title:</label>
  <input type="text" name="note[title]" />

  <p>Summary:</p>
  <textarea name="note[summary]"></textarea>

  <input type="submit" name="submit" value="Submit" />
  <%= erb :textile, :layout => false %>
</form>
