<p><a class="show_syntax">Textile Syntax:</a></p>
<table id="textile_syntax">
  <thead>
    <th>Textile</th>
    <th>HTML</th>
  </thead>

  <tr>
    <td><pre>_italic_</pre></td>
    <td><i>italic</i></td>
  </tr>

  <tr>
    <td><pre>*strong*</pre></td>
    <td><b>strong</b></td>
  </tr>

  <tr>
    <td><pre>"Link Text":http://example.com/</pre></td>
    <td><a href="http://example.com/">Link Text</a></td>
  </tr>

  <tr>
    <td>
      <pre>* item one
* item two</pre>
    </td>

    <td>
      <ul>
        <li>item one</li>
        <li>item two</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <pre># item one
# item two</pre>
    </td>

    <td>
      <ol>
        <li>item one</li>
        <li>item two</li>
      </ol>
    </td>
  </tr>
</table>
