<html>
  <head>
    <title>Namaste :: Share the Light</title>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/feed.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
  </head>
  <body>
    <div id="page">
      <div id="header">
        <img id="banner" src="/images/banner.png" />
      </div>

      <div id="menu">
        <span class="item">
          <a href="/">Notes</a>
        </span>

        <span class="item">
          <a href="/notes/new">New</a>
        </span>
      </div>

      <div id="content">
        <div id="feed">
        </div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
